<h1 class="text-center text-2xl"><%= @order.name %></h1>

<table class="min-w-full">
  <thead class="border-b">
    <tr>
      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Item</th>
      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Type</th>
      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_ingredients.each do |order_ingredient| %>
      <tr class="border-b">
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
          <%= order_ingredient.ingredient.name %>
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
          <%= order_ingredient.ingredient.ingredient_type.titleize %>
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
          <%= humanized_money_with_symbol order_ingredient.price %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
